{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col pt-5 text-center">
            <div class="order-confirmation-bg">
                <hr>
                <h2 class="logo-font mb-4">Order Confirmation</h2>
                <p>Hi {{ order.get_first_name }}, thank you for your order!
                    <br>
                    <br>
                    We've recieved your order with order number
                    <br>
                    <small>{{ order.order_number }}</small> and will contact you as soon as your package
                    <br>
                    is shipped. A order confirmation email will be sent to
                    <strong>{{ order.email }}</strong>.
                    <br>
                    You will find your purchase information below.
                </p>
                <hr>
            </div>
            <div>
                <br>
                <h3>Order Summary</h3>
                <br>
                <p class="fw-semibold">{{ order_date|date:"D, M d, Y H:i" }}</p>
                <br>
            </div>

            {% for item in order.lineitems.all %}
            <div class="row mb-3">
                <div class="col-12 col-md-3 z-index">
                    <img src="{{ item.product.image1.url }}" alt="{{ item.product.name }}" class="custom-img-fluid">
                </div>
                <div class="col-12 col-md-9">
                    <div class="row">
                        <hr>
                        <div class="col-12">
                            <div class="row align-items-center">
                                <div class="ps-5 col-12 col-md-6">
                                    <p class="fw-bold mb-0">
                                        {{ item.product.name }}
                                        {% if item.product_size %} - Size {{ item.product_size|upper }}{% endif %}
                                    </p>
                                </div>
                                <div class="col-md-2 text-md-end text-center">
                                    <p class="small mb-0">${{ item.product.price | intcomma }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row align-items-center">
                                <div class="col-12 col-md-6">
                                    <p class="fw-bold mb-0">Quantity</p>
                                </div>
                                <div class="col-md-2 text-md-end text-center">
                                    <p class="small mb-0">{{ item.quantity }} pc</p>
                                </div>
                            </div>
                            <br>
                            <div class="row align-items-center">
                                <div class="col-12 col-md-6">
                                    <p class="fw-bold mb-0">SKU:</p>
                                </div>
                                <div class="col-md-2 text-md-end text-center">
                                    <p class="small mb-0">{{ item.product.sku }}</p>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <br>
                <br>
                <h3>Order Total</h3>
                <hr>
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <p class="fw-bold mb-0">Subtotal Price:</p>
                    </div>
                    <div class="col-md-2 text-md-end text-center">
                        <p class="small mb-0">${{ order.order_total | intcomma }}</p>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <p class="fw-bold mb-0">Delivery Price:</p>
                    </div>
                    <div class="col-md-2 text-md-end text-center">
                        <p class="small mb-0">${{ order.delivery_cost | intcomma }}</p>
                    </div>
                </div>
                <hr>
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <h4 class="fw-bold mb-0">Grand Total:</h4>
                    </div>
                    <div class="col-md-2 text-md-end text-center">
                        <p class="small mb-0 text-danger custom-fw-bold">${{ order.grand_total | intcomma }}</p>
                    </div>
                </div>
                <br>
            </div>
            {% endfor %}

            <br>
            <br>

            <div class="order-wrapper box-shadow">
                <div class="container">
                    <br>
                    <h4>Order Details</h4>
                    <hr>
                </div>
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3 order-info-wrapper">
                                <div class="p-3">
                                    <h5 class="card-title">Order Info</h5>
                                    <hr>
                                    <p class="card-text">
                                        <span class="text-black">Order Number:</span>
                                        <br>
                                        <div class="order-number-container">
                                            <small>{{ order.order_number }}</small>
                                        </div>
                                    </p>
                                    <p class="card-text">
                                        <span class="text-black">Order Date:</span>
                                        <br>
                                        {{ order.date }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 order-info-wrapper">
                                <div class="p-3">
                                    <h5 class="card-title">Delivery</h5>
                                    <hr>
                                    <p class="card-text text-black">
                                        {{ order.full_name }}
                                        <br>
                                        {{ order.street_address1 }}
                                        {% if order.street_address2 %}
                                        <br>
                                        {{ order.street_address2 }}
                                        {% endif %}
                                        {% if order.county %}
                                        <br>
                                        {{ order.county }}
                                        {% endif %}
                                        <br>
                                        {{ order.town_or_city }}
                                        {% if order.postcode %}
                                        <br>
                                        {{ order.postcode }}
                                        {% endif %}
                                        <br>
                                        {{ order.country }}
                                        <br>
                                        {{ order.phone_number }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <!-- Recommended products section -->
            {% if recommended_products %}
            <div class="recommended-products">
                <h3>Recommended Products</h3>
                <hr>
                <div class="row">
                    {% for recommended_product in recommended_products %}
                    <div class="col-md-3 mb-3">
                        <div class="">
                            <img src="{{ recommended_product.image1.url }}" class="card-img-top"
                                alt="{{ recommended_product.name }}">
                            <div class="pt-3">
                                <h5 class="card-title">{{ recommended_product.name }}</h5>
                                <p class="card-text">${{ recommended_product.price | intcomma }}</p>
                                <a href="{% url 'product_detail' recommended_product.id %}"
                                    class="btn rounded-0 btn-black">View Product</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <br>
            <br>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-7 d-flex justify-content-center">
                    {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class="text-uppercase">Back to Profile</span>
                    </a>
                    {% else %}
                    <a href="{% url 'products' %}" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-gift"></i>
                        </span>
                        <span class="text-uppercase">Check out the latest deals!</span>
                    </a>
                    {% endif %}
                </div>
            </div>

        </div>
        {% endblock %}