html {
    height: 100%;
}

body {
    background: url('/media/hero.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Figtree';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.update-link,
.remove-item {
    cursor: pointer;
}

..btn-outline-black {

}



/* -------------------------------- Home page app & general styling across site*/
.logo-image {
    width: 200px;
    height: auto;
}

.custom-nav {
    background-color: rgba(241, 241, 249, 0.6);
}

.bg-custom {
    background-color: #000;
}

.custom-hr {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-toggler {
    padding: 5px;
    background-color: rgba(241, 241, 249, 0.8);
}

.my-1-custom-band {
    margin-bottom: 0;
    margin-top: 5px;
}

/* Custom CSS for hover dropdown */
.hover-dropdown {
    display: none; /* Initially hide dropdown */
}

.navbar-nav .nav-item:hover .hover-dropdown {
    display: block; /* Display dropdown on hover */
}

/* Adjust dropdown position */
.dropdown-menu {
    margin-top: 0;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* Ensuring consistent product img size to maintain visual coherence */
.card-img-top { 
    height: 350px; 
    object-fit: cover; /* Ensures the image covers the entire container */
}

/* ------------------------------------------------------------ Shopping Bag */

.custom-bag-img {
    height: 200px;
    width: 200px;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}
