<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}" id="all-products-link">
                All Products
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="yoga-mats-link">
                Yoga Mats
            </a>
        </li>


        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0 hover-dropdown" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">SHOP ALL WOMEN'S</a>
                <hr class="custom-hr">
                <a href="" class="dropdown-item">Sets</a>
                <a href="" class="dropdown-item">Tops & Bra's</a>
                <a href="" class="dropdown-item">Shorts & Leggins</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="accessories-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0 hover-dropdown" aria-labelledby="accessories-link">
                <a href="" class="dropdown-item">SHOP ALL ACCESSORIES</a>
                <hr class="custom-hr">
                <a href="" class="dropdown-item">Yoga Bags</a>
                <a href="" class="dropdown-item">Water Bottles</a>
                <a href="" class="dropdown-item">Yoga Shoes</a>
                <a href="" class="dropdown-item">Headwear</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="home-wellness-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Home & Wellness
            </a>
            <div class="dropdown-menu border-0 hover-dropdown" aria-labelledby="home-wellness-link">
                <a href="" class="dropdown-item">SHOP ALL HOME & WELLNESS</a>
                <hr class="custom-hr">
                <a href="" class="dropdown-item">Crystals</a>
                <a href="" class="dropdown-item">Yoga Books</a>
                <a href="" class="dropdown-item">Aromas</a>
                <a href="" class="dropdown-item">Home Decour</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="sale-link">
                Sale
            </a>
        </li>
        </li>
    </ul>
</div>