{% load static %}

<!-- Logo -->
<div class="list-inline-item text-center">
    <a class="nav-link d-block d-lg-none" href="{% url 'home' %}">
        <img src="{% static 'media/yoga-vibe-logo.png' %}" alt="YogaVibe logo" class="logo-image">
    </a>
</div>

<!-- Search Trigger -->
<div class="list-inline-item">
    <a class="nav-link text-black d-block d-lg-none" href="#" id="mobile-search" data-toggle="modal" data-target="#mobileSearchModal">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg"></i></div>
            <p class="my-0">Search</p>
        </div>
    </a>
</div>

<!-- Favorites -->
<div class="list-inline-item">
    <a href="{% url 'favorite_list' %}" class="nav-link text-black d-block d-lg-none text-decoration-none">
        <div class="text-center">
            <i class="fa-regular fa-heart fa-lg"></i>
            <p class="my-0">Favorites</p>
        </div>
    </a>
</div>

<!-- My Account -->
<div class="list-inline-item dropdown">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg"></i></div>
            <p class="my-0">My Account</p>
        </div>
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
        {% endif %}
        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}
        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
    </div>
</div>

<!-- Cart -->
<div class="list-inline-item">
    <a class="{% if total_items_in_cart %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none" href="{% url 'view_bag' %}">
        <div class="text-center">
            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
            <p class="my-0">
                {% if total_items_in_cart %}
                {{ total_items_in_cart }}
                {% else %}
                0
                {% endif %}
            </p>
        </div>
    </a>
</div>

<!-- Mobile Search Modal -->
<div class="modal fade" id="mobileSearchModal" tabindex="-1" role="dialog" aria-labelledby="mobileSearchModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mobileSearchModalLabel">Search</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site" required>
                        <div class="input-group-append">
                            <button class="btn btn-black border border-black rounded-0" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>